@page
@model AppNetRazor.Pages.Cursos.IndexModel
@{
    ViewData["Title"] = "Lista de cursos";
}

<h3 class="text-center">ERICK ALDAIR BARCENAS GONZALEZ</h3>
@if (Model.Mensaje !=null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Mensaje
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-info">LISTA DE CURSOS</h2>
            </div>
            <div class="col-sm-6">
                <a asp-page="Crear" class="btn btn-primary">CREAR NUEVO CURSO</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Cursos.Count() > 0)
        {
            <br />

            <br />
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().Id)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().NombreCurso)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().CantidadClases)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().Precio)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().FechaCreacion)</th>
                    <th>ACCIONES</th>
                </tr>
                @foreach (var item in Model.Cursos)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.NombreCurso)</td>
                        <td>@Html.DisplayFor(m => item.CantidadClases)</td>
                        <td>@Html.DisplayFor(m => item.Precio)</td>
                        <td>@Html.DisplayFor(m => item.FechaCreacion)</td>
                        <td>
                            <a asp-route-id="@item.Id" asp-page="Editar" class="btn btn-success btn-sm">EDITAR</a>
                            <form method="post" asp-page-handler="Borrar" style="display:inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" onclick="return confirm('Esta seguro de querer borrar el curso?')" class="btn btn-danger btn-sm">BORRAR</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No hay cursos disponibles</p>
        }
    </div>
</div>
